$menu-height: 140px;

//FONTS
$mainfont: "gilroy";
$secondary-font: "Century Go thic";
$third-font: "avenir";
$roboto: "Roboto Mono";
//COLORS
$mainblue: #0072ba;
$white: #ffffff;
$grey: #545559;
$palegrey: #e1e1e1;
$charcoal: #232323;
$greybackground: #f5f5f5;
$greyform: #bfbfbf;
$red: #d0202e;
$green: #46b978;
//couleur des reapeter
$palegreen: #e5f2e5;
$palered: #f9dfe1;
$paleyellow: #fdeae1;
$paleblue: #d9eaf5;
//GRADIENTS

$twelfth: calc(100% / 12);
$articleBottomMarg: 90px;
$articleBottomMargMobile: 60px;
