section[data-layout="article_media"]{
    &.grey{
        
    }
    .container{
        width: 100%;
        &:last-child{
            .container{
                &.single-project{
                    margin-bottom: 0;
                }
            }
        }
        &.single-project{
            padding-left: calc(100% * 2 / 10 );
            padding-right: calc(100% * 1.5 / 10);
        }
        &.article{
            padding-left:calc(100% * 1 / 12);
            padding-right: calc((100% * 1 / 12) + (100% * 10 / 12 / 4) );
            position: relative;
            margin-bottom: 0;
            padding-bottom: 90px;
            padding-top: 90px;
        &::before{
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right:calc((100% * 1 / 12) + (100% * 10 / 12 / 8)  );
            background-color: #F5F5F5;
            z-index: -2;
        }
            .media{
                width: calc(100%);
            }
        }
        .media{
            width: 100%;
            position: relative;
            padding-bottom: 56%;
            overflow: hidden;
        }
        .image{
            // position: absolute;
            // width: 100%;
            // height: 100%;
            // object-fit: cover;
        }
    }
}
@media screen and (max-width: 1250px) {
    section[data-layout="article_media"]{
        .container{
            &.single-project{
                padding-left: 32px;
                padding-right: calc(32px + ( (100% - 64px) / 4 ) );
            }
            &.article{
                padding:90px calc(32px + ( (100% - 64px) / 8 ) );
                &::before{
                    right:32px;
                }
                .media{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    section[data-layout="article_media"]{
        .container{
            &.single-project{
                padding-right: 32px;
            }
            &.article{
                padding:90px 32px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    section[data-layout="article_media"]{
        .container{
            &.article{
                padding: 50px 32px;
            }
            
        }
    }
}
@media screen and (max-width: 640px) {
    section[data-layout="article_media"]{
        .container{
            &.single-project, &.article{
                padding-left:16px !important;
                padding-right:16px !important;
            }
            &.single-project{
                padding-right: 16px;
            }
            &.article{
                &::before{
                    right: 16px;
                }
            }
        }
    }
}