.solo-event-article {
    color: $white;
    z-index: 1;
    &.blog {
        .content {
            @include pale-blue-gradient;
            margin-left: 1px;
            @include transition(0.2s ease-in-out);
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                left:0;
                top:0;
                opacity:1 ;
                background-color: $white;
                @include transition(0.2s ease-in-out);
            }
        }
        h3 {
            color: $charcoal;
        }
        .date {
            color: $mainblue;
            z-index: 1;
            position: relative;
        }
        .image {
            margin-left: 1px;
        }
        &.hover {
            .content {
                &::before{
                    opacity:0 ;
                }
            }
            h3,
            .date {
                color: $white;
            }
        }
    }
    .image {
        width: 100%;
        position: relative;
        padding-bottom: 59%;
        z-index: -1;
        overflow: hidden;
        .background {
            background: no-repeat center / cover;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include transition(0.3s ease-in-out);
        }
    }
    .category {
        position: absolute;
        line-height: 1;
        top: 20px;
        right: 20px;
        background-color: $green;
        padding: 12px 25px;
        @include font-size(18);
    }
    .content {
        padding: 40px;
        @include pale-blue-gradient;
        margin-right: 40px;
        margin-top: -70px;
        @include transition(0.2s ease-in-out);
    }
    .date {
        @include font-size(14);
        margin-bottom: 20px;
        @include transition(0.2s ease-in-out);
    }
    h3 {
        @include font-size(20);
        line-height: 1.7;
        margin: 0;
        font-weight: 700;
        @include transition(0.2s ease-in-out);
        z-index: 1;
        position: relative;
    }
    &.hover {
        .image .background {
            transform: scale(1.05);
        }
    }
}
.single-article-cta {
    width: calc(100% + (4.2vw * 2));
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4.2vw;
    margin-bottom: -120px;
    .solo-event-article {
        padding: 0 4.2vw;
        width: 50%;
        margin-bottom: 120px;
    }
}
@media screen and (max-width: 1440px) {
    .single-article-cta {
        margin-bottom: -80px;
        .solo-event-article {
            margin-bottom: 80px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .solo-event-article {
        .content {
            padding: 25px;
            margin-right: 25px;
            margin-top: -40px;
        }
        h3 {
            line-height: 1.5;
        }
    }
    .single-article-cta {
        margin-bottom: -60px;
        .solo-event-article {
            margin-bottom: 60px;
        }
    }
}
@media screen and (max-width: 800px) {
    .single-article-cta {
        width: calc(100% + (40px));
        display: flex;
        margin: 0 -20px;
        margin-bottom: -60px;
        .solo-event-article {
            padding: 0 20px;
            width: 50%;
        }
        h3 {
            @include font-size(18);
        }
        .category {
            top: 15px;
            right: 15px;
            padding: 10px 20px;
            @include font-size(16);
        }
    }
}
@media screen and (max-width: 640px) {
    .single-article-cta {
        flex-wrap: wrap;
        margin-bottom: -30px;
        .solo-event-article {
            padding: 0 20px;
            width: 100%;
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 400px) {
    .single-article-cta {
        .solo-event-article {
            .date {
                margin-bottom: 10px;
            }
            h3 {
                @include font-size(16);
            }
            .content {
                margin-right: 16px;
            }
            .category {
                padding: 10px 18px;
                @include font-size(14);
            }
        }
    }
}
