section[data-layout="image_icones"] {
    .img-icon-container {
        display: flex;
        width: 100%;
        margin-top: 90px;
        .rows {
            width: calc(100% * 6 / 11);
            padding: 0 calc(100% * 0.5 / 11);
            padding-left: 100px;
            z-index: 1;
        }
    }
    .image-icon-title {
        padding-left: calc(100% / 11);
    }
    .image-container {
        width: calc(100% * 5 / 11);
        height: 0%;
        position: relative;
        padding-bottom: 32%;
        z-index: 1;

        .front-image {
            margin-left: calc(100% / 11);
            position: absolute;
            top: 73px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }

        .background-image {
            margin-right: calc(100% / 11);
            position: relative;
            z-index: -1;
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 73px;
            overflow: hidden;
        }
    }

    .blue-background {
        width: 100%;
        height: 100%;
        @include gradient-tricolor;
    }

    .repeater-img-icon {
        margin-bottom: 61px;
        display: flex;
        .title-icon {
            display: flex;
            align-self: flex-start;
            display: block;
        }
        h3 {
            margin-bottom: 0px;
            color: #232323;
            font-weight: 600;
        }
        .title {
            align-self: center;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .icon {
            align-self: center;
            margin-right: 30px;
            position: relative;
            width: 125px;
            height: 125px;
            flex-shrink: 0;
            .icon-background {
                position: absolute;
                top: 18px;
                z-index: 1;
                content: "";
                width: 90px;
                height: 90px;
                transform: rotate(45deg);
            }
            .background-color-0 {
                @include pale-blue-gradient;
            }
            .background-color-1 {
                @include pale-green-gradient;
            }
            .background-color-2 {
                @include dark-green-gradient;
            }
            .background-color-3 {
                @include dark-blue-gradient;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform:  translateX(-50%) translateX(-18px) translateY(-50%);
                z-index: 3;
                max-width: 46%;
                max-height: 50%;
            }
        }
    }

    .services-link {
        margin-left: 155px;
    }
    &.no-image {
        h2 {
            padding-left: 0;
        }
        .image-container {
            display: none;
        }
        .img-icon-container {
            flex-wrap: wrap;
            .rows {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
        }
        .repeater-img-icon {
            width: 50%;
            &:nth-child(odd) {
                padding-right: 80px;
            }
        }
        .btn-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .services-link {
            margin: 0;
        }
    }
}
@media screen and (max-width: 1250px) {
    section[data-layout="image_icones"] {
        .img-icon-container .rows {
            padding-right: 0px;
        }
    }
}

@media screen and (max-width: 1024px) {
    section[data-layout="image_icones"] {
        .image-icon-title {
            padding-left: 0;
        }
        .content__section {
            .wrapp.right {
                padding-right: 0px;
            }
        }

        .img-icon-container {
            display: block;
        }
        .image-container {
            width: 100%;
            margin-top: 0px;
            .background-image {
                bottom: 80px;
                left: 32px;
                right: 80px;
                margin-right: 0;
            }
            .front-image {
                top: 80px;
                margin-left: 112px;
            }
        }
        .img-icon-container {
            .image-container {
                padding-bottom: 53%;
            }
        }
        .rows {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .img-icon-container .rows {
            width: 100%;
        }
        .img-icon-container .rows {
            padding-left: 32px;
            padding-right: 0px;
        }
        .services-link {
            align-self: center;
            margin-left: 32px;
        }
        &.no-image {
            .img-icon-container {
                .rows {
                    flex-direction: row;
                    margin-top: 0;
                }
            }
            .repeater-img-icon {
                .text {
                    margin: 0;
                }
                .title-icon {
                    margin-bottom: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    section[data-layout="image_icones"] {
        .img-icon-container {
            display: block;
        }

        .image-container {
            width: 100%;
            margin-top: 0px;
        }
        .rows {
            margin-top: 60px;
        }
        .services-link {
            align-self: center;
            margin-left: 18px;
        }
        &.no-image {
            .repeater-img-icon {
                width: 100%;
                &:nth-child(odd) {
                    padding-right: 0px;
                }
                .title-icon {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    section[data-layout="image_icones"] {
        .img-icon-container {
            .rows {
                padding-left: 16px;
            }
        }
        .repeater-img-icon .icon .icon-background {
            width: 80px !important;
            height: 80px !important;
        }
        .repeater-img-icon {
            padding-left: 20px;
            p,
            .text {
                margin-left: 0px;
            }
            .icon {
                width: 90px;
                height: 90px !important;
                img {
                    transform: translate(-62%, -29%);
                    max-width: 50%;
                    max-height: 71%;
                }
            }
            .title-icon {
                margin-bottom: 20px;
            }
        }
        .rows {
            margin-top: 80px;
        }
        .services-link {
            margin-left: -10px;
        }
        .image-container {
            .background-image {
                bottom: 40px;
                left: 16px;
                right: 40px;
            }
            .front-image {
                top: 40px;
                margin-left: 56px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    section[data-layout="image_icones"] {
        .image-container {
            .background-image {
                bottom: 20px;
                right: 20px;
            }
            .front-image {
                top: 20px;
                margin-left: 36px;
            }
        }
        &.no-image {
            .repeater-img-icon {
                .title-icon {
                    margin-bottom: 30px;
                }
                .text {
                    margin-left: 0px;
                }
            }
        }
    }
}
